body{
    /* background-color: rgb(61, 38, 2); */
    /* background: linear-gradient(to bottom, rgba(165,135,141,1) 1%,rgba(140,64,80,1) 68%,rgba(140,64,80,1) 68%,rgba(109,0,25,1) 100%); */
    /* background-repeat: no-repeat; */
    /* background-color:rgba(109,0,25,1); */
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58ecb1b1731968ec6f31354702067651&auto=format&fit=crop&w=1050&q=80");
}
.card{
    background-color: rgba(140,64,80,1);
    
    color:white;
    /* margin: 5px;
    padding:5px; */
    border-radius: 30px;
}
.header{
    text-align: center;
    padding-top:15px;
    font-family: 'Italianno', cursive;
    font-size: 80px;
    color:white;
}
.input-group{
    padding: 15px;
}
.card-img-top{
    border-radius: 30px;
}
.selected-card{
    background-color: white;
    
    color:rgba(140,64,80,1);;
    
}
select{
    margin :0px 5px;
}

.white-fonts{
color: white;
}

.image-100{
    width: 100px;
    height: 150px;
    margin: 10px;
    /* float:left ; */
    vertical-align: top;
    /* display: block; */
}
.one-list-row {
    background-color: rgba(165,135,141,1);
}
.side-div{
    display: inline-block;
    margin: 10px;
    /* float:left ; */
    width:80%;
}
.search-box {
    position: relative;
    width:100%;
  }
  
  .search-results {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  .title-in-line{
    display: inline;
  }

  .one-movie{
      /* background-color: pink; */

  }


  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(165,135,141,1);
  }
  
  .flex-container > div {
       
    margin: 8px;
    text-align: left;
   
  }
  .movie-image-div{
    width: 200px;
  }
  .movie-text-div{
    width: 100%-200px;
  }
  